/*utilities*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@500;600;700;800;900&display=swap");
/*font-family: "Poppins", sans-serif;
font-family: "Lato", sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300px;
  padding: 5px 5px 20px 5px;
  align-items: center; }

h1 {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #41b1e9;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 100px;
  width: 100%;
  padding: 10px 5px 0px 5px;
  background-position: center; }

h2 {
  color: #3339b6;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 5px 0px 5px;
  text-align: center; }

/*layout*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 100%;
  background-color: #d7c9c9; }
  header .header-index {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
    gap: none; }

.navBar {
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: none;
  gap: 3.75rem;
  list-style: none;
  margin-right: 60px;
  font-size: 1.5rem;
  margin: 0;
  padding: 0; }
  .navBar li a {
    color: #41b1e9;
    text-decoration: none;
    margin-right: 20px; }
    .navBar li a:hover {
      color: #7ff2ff; }

nav #toggle, nav label {
  display: none; }

main {
  background-color: #c2e3f7; }

.modelos-mas-valorados h1 {
  font-size: 2rem; }

.img-modelos-mas-valor {
  display: flex;
  width: 100%;
  height: 500px;
  display: 100%;
  margin: 0px;
  text-align: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 5px gray;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  justify-content: center; }

footer {
  background-color: #c2e3f7;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: center; }

.contactos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  align-content: center;
  font-family: "Lato", sans-serif; }

.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px; }

.redes-sociales li {
  margin-right: 10px;
  align-items: center;
  justify-content: center; }

.redes-sociales li a img {
  width: 25px;
  height: 25px; }

.seguinos {
  display: flex;
  text-transform: initial;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 25px;
  font-family: "Lato", sans-serif; }

.direccion-suc {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin-right: 10px;
  flex-direction: row; }

p {
  color: black;
  justify-content: center;
  padding: 10px;
  margin-top: 10px; }

.pie-pagina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around; }
  .pie-pagina a {
    text-decoration: none;
    color: #1b94d1;
    font-family: "Lato", sans-serif; }

/*components*/
.cardIndex {
  margin: 20px;
  width: 300px;
  height: 300px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 5px gray;
  justify-content: center; }

.cardIndex img {
  width: 100%;
  height: 100%; }

.planes-finan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  overflow: hidden; }
  .planes-finan .parrafoIndex {
    width: 100%; }

/* grid deportivo autos */
.grid-conteiner {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  justify-items: center; }

.sectionColeccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  overflow: hidden; }

.card-img {
  width: 100%;
  height: 100%;
  display: block; }

.coleccion {
  width: 450px;
  height: 450px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 5px gray;
  background-size: 100% 100%;
  margin: 2px; }

.imag-coleccion {
  width: 100%;
  height: 100%;
  display: block; }
  .imag-coleccion:hover {
    transform: scale(1.1);
    filter: grayscale(1); }

.cotizar {
  display: flex;
  color: #3339b6;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 10px 10px 5px 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
  border-radius: 15px;
  background-color: #d7c9c9;
  margin: 10px; }

@media (max-width: 1024px) {
  .navBar {
    font-size: 20px;
    gap: 30px;
    margin-right: 30px; }
  .img-modelos-mas-valor {
    align-items: center;
    width: 100%;
    height: 500px; }
  .img-modelos-mas-valor img {
    width: 100%;
    height: 100%; }
  .cardIndex {
    width: 200px;
    height: 200px; }
  .redes-sociales {
    flex-wrap: nowrap;
    gap: .25rem; }
  .seguinos {
    font-size: 12px; }
  .logoMap {
    width: 30px; }
  p {
    font-size: 12px; }
  .pie-pagina {
    font-size: 12px; } }

@media (max-width: 768px) {
  .header-index {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .navBar {
    display: flex;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 10px;
    gap: 15px;
    margin-right: 60px; }
  nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 0; }
  nav label {
    display: inline-flex; }
  nav #toggle:checked ~ .navBar {
    height: 100%; }
  .modelos-mas-valorados h1 {
    font-size: 20px; }
  .img-modelos-mas-valor {
    display: flex;
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: 100% 100%;
    justify-content: center; }
  .img-modelos-mas-valor img {
    width: 100%;
    height: 100%; }
  .cardIndex {
    width: 150px;
    height: 150px;
    justify-content: center; }
  .coleccion {
    width: 240px;
    height: 240px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 15px; }
  .redes-sociales {
    flex-wrap: nowrap;
    gap: .125rem; }
  .seguinos {
    font-size: 10px; }
  .logoMap {
    width: 30px; }
  p {
    font-size: 10px; }
  .pie-pagina {
    font-size: 10px; } }

@media (max-width: 320px) {
  .header-index {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .navBar {
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 8px 0; }
  nav label {
    display: inline-flex;
    cursor: pointer; }
  nav #toggle:checked ~ .navBar {
    height: 100%; }
  .contactos {
    align-items: center;
    justify-content: center; }
  .redes-sociales {
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: center; }
  .seguinos {
    display: none; }
  .pie-pagina {
    font-size: 10px;
    gap: 10px; }
  .direccion-suc {
    flex-direction: row; }
  .direccion-suc p {
    font-size: 10px; }
  /* responsive 320px index */
  .modelos-mas-valorados h1 {
    font-size: 10px; }
  .img-modelos-mas-valor {
    width: 100%;
    height: 180px;
    overflow: hidden; }
  .img-modelos-mas-valor img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .cardIndex {
    width: 100%;
    height: 280px; }
  /* responsive 320px coleccion*/
  body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; }
  .coleccion {
    width: 300px;
    height: 300px;
    overflow: hidden; }
  .imag-coleccion {
    width: 100%;
    height: 100%;
    object-fit: cover; } }
