/*utilities*/
/*base*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:wght@500;600;700;800;900&display=swap");
/*font-family: "Poppins", sans-serif;
font-family: "Lato", sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  font-family: "Poppins", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 300px;
  padding: 5px 5px 20px 5px;
  align-items: center; }

h1 {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #0a82bf;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 100px;
  width: 100%;
  padding: 10px 5px 0px 5px;
  background-position: center; }

h2 {
  color: #3339b6;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  padding: 10px 5px 0px 5px;
  text-align: center; }

/*layout*/
header {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
  width: 100%;
  background-color: rgba(230, 222, 222, 0.592); }
  header .header-index {
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
    align-items: center;
    gap: none; }

.navBar {
  display: flex;
  flex-direction: none;
  justify-content: space-around;
  align-items: none;
  gap: 1.25rem;
  list-style: none;
  margin-right: 40px;
  font-size: 1.25rem;
  margin: 0;
  padding: 0; }
  .navBar li a {
    color: #0a82bf;
    text-decoration: none;
    margin-right: 10px; }
    .navBar li a:hover {
      color: #053f35; }

nav #toggle, nav label {
  display: none; }

main {
  background-color: #f2f4f5; }
  main .videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: none;
    margin-top: 40px; }

.modelos-mas-valorados h1 {
  font-size: 1.75rem; }

.img-modelos-mas-valor {
  display: flex;
  width: 100%;
  height: 800px;
  overflow: hidden;
  box-shadow: 2px 2px 5px gray;
  background-image: url(../assets/img/modelos-mas-valorados.jpg);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 14%; }
  .img-modelos-mas-valor p {
    color: #3339b6;
    font-size: 40px;
    text-shadow: 1px 1px 4px rgba(101, 70, 203, 0.264); }
  .img-modelos-mas-valor button {
    padding: 5px 30px;
    background-color: white;
    box-shadow: 2px 2px 4px #403d3d;
    border-radius: 15px;
    border: none; }
    .img-modelos-mas-valor button:hover {
      transform: scale(1.1); }
  .img-modelos-mas-valor a {
    text-decoration: none;
    color: #3339b6;
    font-family: "Lato", sans-serif;
    font-size: 1.25rem; }

.galeria-autos {
  display: flex;
  width: 100%;
  height: 430px;
  align-items: center; }

.galeria-autos img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease; }

.galeria-autos img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%); }

footer {
  background-color: #e6dede;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  justify-content: center;
  margin-top: 40px; }

.contactos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  align-content: center;
  font-family: "Lato", sans-serif; }

.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px; }

.redes-sociales li {
  margin-right: 10px;
  align-items: center;
  justify-content: center; }

.redes-sociales li a img {
  width: 25px;
  height: 25px; }

.seguinos {
  display: flex;
  text-transform: initial;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 25px;
  font-family: "Lato", sans-serif; }

.direccion-suc {
  display: flex;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin-right: 10px;
  flex-direction: row; }

p {
  color: black;
  justify-content: center;
  padding: 10px;
  margin-top: 10px; }

.pie-pagina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around; }
  .pie-pagina a {
    text-decoration: none;
    color: #0c5fa3;
    font-family: "Lato", sans-serif; }

/*components*/
.cardIndex {
  margin: 10px;
  width: 280px;
  height: 280px;
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.603);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 5px gray;
  justify-content: center; }

.botones {
  display: flex;
  color: #3339b6;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 300px;
  padding: 10px 10px 5px 5px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
  border-radius: 15px;
  background-color: rgba(230, 222, 222, 0.592);
  margin: 10px; }
  .botones:hover {
    transform: scale(1.1); }

.card-description {
  width: 300px;
  justify-content: center;
  align-items: center; }

.cardIndex img {
  width: 100%;
  height: 100%;
  margin-top: 10px; }

.planes-finan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  margin-top: 20px; }

.sectionColeccion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  overflow: hidden; }

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.coleccion {
  width: 450px;
  height: 450px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 5px gray;
  background-size: 100% 100%;
  margin: 2px; }
  .coleccion:hover {
    box-shadow: 5px 10px 10px 10px rgba(154, 208, 193, 0.886);
    border-radius: 0px; }

.imag-coleccion {
  width: 100%;
  height: 100%;
  object-fit: cover; }
  .imag-coleccion:hover {
    transform: scale(1);
    filter: grayscale(1); }

.cotizar {
  display: flex;
  color: #3339b6;
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  font-weight: 400px;
  padding: 10px 10px 5px 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 5px gray;
  border-radius: 15px;
  background-color: rgba(230, 222, 222, 0.592);
  margin: 10px; }
  .cotizar:hover {
    transform: scale(1.1); }

@media (max-width: 1024px) {
  .navBar {
    font-size: 15px;
    gap: 20px;
    margin-right: 20px; }
  .img-modelos-mas-valor {
    align-items: center;
    width: 100%;
    height: 500px; }
  .img-modelos-mas-valor img {
    display: flex;
    width: 100%;
    height: 100%; }
  .cardIndex {
    width: 200px;
    height: 200px; }
  .card-description {
    width: 200px;
    justify-content: center;
    align-items: center; }
  .redes-sociales {
    flex-wrap: nowrap;
    gap: .25rem; }
  .seguinos {
    font-size: 12px; }
  .logoMap {
    width: 30px; }
  p {
    font-size: 12px; }
  .pie-pagina {
    font-size: 12px; } }

.videos {
  display: flex;
  justify-content: center; }
  .videos .videoElect {
    width: 480px; }

.botones {
  width: 200px; }

@media (max-width: 768px) {
  .header-index {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .navBar {
    display: flex;
    width: 100%;
    height: 0;
    overflow: hidden;
    font-size: 10px;
    gap: 15px;
    margin-right: 60px; }
  nav ul {
    flex-direction: column;
    align-items: flex-end;
    padding: 8px 0; }
  nav label {
    display: inline-flex; }
  nav #toggle:checked ~ .navBar {
    height: 100%; }
  .modelos-mas-valorados h1 {
    font-size: 20px; }
  .img-modelos-mas-valor {
    display: flex;
    width: 100%;
    height: 450px;
    background-position: center;
    background-size: 100% 100%;
    justify-content: center; }
  .img-modelos-mas-valor img {
    width: 100%;
    height: 100%; }
  .cardIndex {
    width: 150px;
    height: 150px;
    justify-content: center; }
  .botones {
    width: 150px;
    height: 40px; }
  .videos {
    display: flex;
    justify-content: center; }
  .videoElect {
    display: flex;
    width: 300px; }
  .coleccion {
    width: 240px;
    height: 240px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 15px; }
  .redes-sociales {
    flex-wrap: nowrap;
    gap: .125rem; }
  .seguinos {
    font-size: 10px; }
  .logoMap {
    width: 30px; }
  p {
    font-size: 10px; }
  .pie-pagina {
    font-size: 10px; }
  .galeria-autos {
    display: none; }
  .videos {
    display: flex;
    justify-content: center; }
    .videos .videoElect {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 250px; }
  .pronto {
    display: none; } }

@media (max-width: 320px) {
  .header-index {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0; }
  .navBar {
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column; }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 8px 0; }
  nav label {
    display: inline-flex;
    cursor: pointer; }
  nav #toggle:checked ~ .navBar {
    height: 100%; }
  .contactos {
    align-items: center;
    justify-content: center; }
  .redes-sociales {
    flex-wrap: nowrap;
    gap: 15px;
    justify-content: center; }
  .seguinos {
    display: none; }
  .pie-pagina {
    font-size: 10px;
    gap: 10px; }
  .direccion-suc {
    flex-direction: row; }
  .direccion-suc p {
    font-size: 10px; }
  .modelos-mas-valorados h1 {
    font-size: 10px; }
  .img-modelos-mas-valor {
    width: 100%;
    height: 180px;
    overflow: hidden; }
    .img-modelos-mas-valor p {
      font-size: 10px;
      padding-top: 10%;
      position: relative;
      bottom: 60px; }
    .img-modelos-mas-valor .button {
      display: none; }
  .img-modelos-mas-valor img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .planes-finan p {
    display: none; }
  .cardIndex {
    width: 100%;
    height: 280px;
    margin: 0px; }
  .botones {
    font-size: 15px; }
  .videos {
    display: flex;
    justify-content: center; }
    .videos .videoElect {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 250px; }
  /* responsive 320px coleccion*/
  body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0; }
  .coleccion {
    width: 300px;
    height: 300px;
    overflow: hidden; }
  .imag-coleccion {
    width: 100%;
    height: 100%;
    object-fit: cover; } }
