$colores:(
    fondo-header: rgb(215, 201, 201),
    fondo-main: rgb(194, 227, 247),
    fondo-footer: rgb(194, 227, 247),
    letras-principales: #41b1e9,
    letras-secundarias: rgb(51, 57, 182),
    hover: rgb(127, 242, 255),
    parrafo: black,
);
$fuentes:(
    titulos: 2rem,
    titulos-secundario: 1.5rem,
    titulos-footer: .9375rem,
);
