$colores:(
    fondo-header: rgb(230, 222, 222),
    fondo-main: rgb(242, 244, 245),
    fondo-footer: rgb(226, 216, 216),
    letras-principales: #41b1e9,
    letras-secundarias: rgb(51, 57, 182),
    hover: rgb(16, 157, 172),
    parrafo: black,
);
$fuentes:(
    titulos: 2rem,
    titulos-secundario: 1.5rem,
    titulos-footer: .9375rem,
);
