$colores:(
    fondo-header: rgba(230, 222, 222, 0.592),
    fondo-main: rgb(242, 244, 245),
    fondo-footer: rgba(230, 222, 222, 0.592),
    letras-principales: #0a82bf,
    letras-secundarias: rgb(51, 57, 182),
    hover: rgb(5, 63, 53),
    parrafo: black,
);
$fuentes:(
    titulos: 1.75rem,
    titulos-secundario: 1.25rem,
    titulos-footer: .9375rem,
);
