@media (max-width:320px){
    .header-index{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .navBar{
        width: 100%;
        height: 0;
        overflow: hidden;
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
        padding: 8px 0;
    }
    nav label{
        display: inline-flex;
        cursor: pointer;
    }
    nav #toggle:checked ~ .navBar{
        height: 100%;
    }
    
    .contactos{
        align-items: center;
        justify-content: center;
    }
    .redes-sociales{
        flex-wrap: nowrap;
        gap: 15px;
        justify-content: center;
    }
    .seguinos{
        display: none;
    }
    .pie-pagina{
        font-size: 10px;
        gap: 10px;
    }
    .direccion-suc{
        flex-direction: row;
    }
    .direccion-suc p{
    font-size: 10px;
    }

    .modelos-mas-valorados h1{
        font-size: 10px;
    }
    
    .img-modelos-mas-valor{
        width: 100%;
        height: 180px;
        overflow: hidden;
        p{
            font-size: 10px;
            padding-top: 10%;
            position: relative;
            bottom: 60px;
        }
        .button{
        display: none;
        }
    }
    .img-modelos-mas-valor img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    .planes-finan{
        p{
            display: none;
        }
    }
    .cardIndex{
    width: 100%;
    height: 280px;
    margin: 0px;
    }
    .botones{
        font-size: 15px;
        
    }
    .videos{
        display: flex;
        justify-content: center;
        .videoElect{
            display: flex;
            justify-content: center;
            width: 100%;
            height: 250px;
        }
    }
    
    /* responsive 320px coleccion*/
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }

    .coleccion{
        width: 300px;
        height: 300px;
        overflow: hidden;
}
.imag-coleccion{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}

