@media(max-width:1024px){
    .navBar{
        font-size: 15px;
        gap: 20px;
        margin-right: 20px;
    }
    
    .img-modelos-mas-valor{
        align-items: center;
        width: 100%;
        height: 500px;
        
        
    }
    .img-modelos-mas-valor img{
        display: flex;
        width: 100%;
        height: 100%;
        
    }
    
    .cardIndex{
        width: 200px;
        height: 200px;
    }
    .card-description{
        width: 200px;
        justify-content: center;
        align-items: center;
    }
    .redes-sociales{
        flex-wrap: nowrap;
        gap: .25rem;
    }
    .seguinos{
        font-size: 12px;
    }
    .logoMap{
        width: 30px;
    }
    p{
        font-size: 12px;
    }
    .pie-pagina{
        font-size: 12px;
    }
}
.videos{
    display: flex;
    justify-content: center;
    .videoElect{
        width: 480px;
    }
}
.botones{
    width: 200px;
}
